<ion-view title="HOSTING" id="page4">
  <ion-content padding="true" class="has-header">
    <h3 id="hOSTING-heading1" style="color:#000000;text-align:center;">HOW MANY PEOPLE YOU CAN HELP?</h3>
    <form id="hOSTING-form2" class="list">
      <ion-item class="range range-positive" id="hOSTING-range2">PEOPLE
        <input type="range" value="10" min="0" max="20" step="1">
      </ion-item>
    </form>
    <form id="hOSTING-form3" class="list">
      <ion-toggle toggle-class="toggle-positive" id="hOSTING-toggle1">TO SLEEP</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="hOSTING-toggle2">BREAKFEST</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="hOSTING-toggle3">LAUNCH</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="hOSTING-toggle4">DINNER</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="hOSTING-toggle5">MEDICINE</ion-toggle>
    </form>
    <a ui-sref="pERSONALPROFILE()" id="hOSTING-button24" class="button button-positive button-block">NEXT</a>
  </ion-content>
</ion-view>