<ion-view title="PERSONAL PROFILE" id="page5">
  <ion-content padding="true" class="has-header">
    <creator-map-component options="{}" marker="true" location="Madison Capital" zoom="12" style="display:block;position:relative;width:100%;height:300px;">
      <ui-gmap-google-map ng-if="map.center" center="map.center" zoom="map.zoom" options="map.options">
        <ui-gmap-marker coords="map.marker.coords" idkey="map.marker.id" options="map.marker.options"></ui-gmap-marker>
      </ui-gmap-google-map>
    </creator-map-component>
    <form id="pERSONALPROFILE-form4" class="list">
      <label class="item item-input" id="pERSONALPROFILE-input1">
        <input type="tel" placeholder="PHONE NUMBER">
      </label>
    </form>
    <form id="pERSONALPROFILE-form5" class="list">
      <label class="item item-input" id="pERSONALPROFILE-input3">
        <input type="email" placeholder="EMAIL">
      </label>
    </form>
    <a ui-sref="menu()" id="pERSONALPROFILE-button25" class="button button-positive button-block">SUBSCRIBE</a>
  </ion-content>
</ion-view>