<ion-view title="VOLUNTARY REGISTER" id="page6">
  <ion-content padding="true" class="has-header">
    <h5 id="vOLUNTARYREGISTER-heading2" style="color:#000000;">WHICH SERVICES YOU CAN PROVIDE</h5>
    <form id="vOLUNTARYREGISTER-form6" class="list">
      <ion-checkbox id="vOLUNTARYREGISTER-checkbox1">CHILDREN ASSISTANCE</ion-checkbox>
      <ion-checkbox id="vOLUNTARYREGISTER-checkbox5">AGED ASSISTANCE</ion-checkbox>
      <ion-checkbox id="vOLUNTARYREGISTER-checkbox2">MEDICAL SUPPORT</ion-checkbox>
      <ion-checkbox id="vOLUNTARYREGISTER-checkbox3">CLOTHES DONATION</ion-checkbox>
      <ion-checkbox id="vOLUNTARYREGISTER-checkbox4">FOOD DONATION</ion-checkbox>
    </form>
    <a ui-sref="pERSONALPROFILE()" id="vOLUNTARYREGISTER-button26" class="button button-positive button-block">NEXT</a>
  </ion-content>
</ion-view>